.type {
  background: rgb(20, 20, 20);
  min-height: 100vh;
  display: flex;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='811' height='675.8' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.07'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.type-img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
}

.t-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #b19250;
  padding: 5rem 0;
}
.t-wrapper h1 {
  text-align: center;
  font-weight: 300;
  line-height: 1.3;
}
.type-desc{
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  width: 500px;
  font-weight: 200;
}
.cat-desc{
  text-align: center;
  font-size: 1rem;
  padding: .5rem;
  font-weight: 200;
}
.t-wrapper h2 {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.t-types {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.t-cards {
  background: rgb(20, 20, 20);
  box-shadow: -1px -6px 14px rgba(0, 0, 0, 0.7),
    -6px -6px 10px rgba(0, 0, 0, 0.5), 6px 6px 8px rgba(24, 24, 24, 0.281),
    6px 6px 10px rgba(0, 0, 0, 0.15);
  border: none;
  width: 370px;
  height: 260px;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.t-cards:hover {
  transform: scale(1.05);
}

.t-cards img {
  position: absolute;
}

.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  text-align: center;
}

.vote-button {
  background: transparent;
  color: #b19250;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1.5rem;
  margin-top: 3rem;
  border-radius: 5px;
  box-shadow: -1px -6px 14px rgba(0, 0, 0, 0.7),
    -6px -6px 10px rgba(0, 0, 0, 0.5), 6px 6px 8px rgba(24, 24, 24, 0.281),
    6px 6px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}
.vote-button:hover {
  transform: scale(1.1);
  background: rgb(20, 20, 20);
}
.button-vote-wrapper {
  padding: 1rem;
}

.radio-b {
  transition: 0.3s ease-in-out;
  display: block;
  user-select: none;
  padding-bottom: 1rem;
}
.radio-b label,
.radio-b input {
  cursor: pointer;
}
.vote-form-button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vote-form-button {
  background: transparent;
  color: #b19250;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -1px -6px 14px rgba(0, 0, 0, 0.7),
    -6px -6px 10px rgba(0, 0, 0, 0.5), 6px 6px 8px rgba(24, 24, 24, 0.281),
    6px 6px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}
.vote-form-button:hover {
  transform: scale(1.1);
  background: rgba(26, 206, 35, 0.596);
}
.close-button {
  background: transparent;
  color: #b19250;
  height: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: -1px -6px 14px rgba(0, 0, 0, 0.7),
    -6px -6px 10px rgba(0, 0, 0, 0.5), 6px 6px 8px rgba(24, 24, 24, 0.281),
    6px 6px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
  position: absolute;
  right: 5px;
  top: 5px;
  display: flex;
  align-items: center;
}
.close-button:hover {
  transform: scale(1.1);
  background: rgba(206, 26, 26, 0.596);
}
.form-input {
  padding-bottom: 1rem;
  padding-left: 1rem;
}
form {
  width: 20rem;
}
.categories-form {
  font-size: 1.3rem;
  font-weight: 300;
  text-align: center;
  padding: 1rem;
}
.holder {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.holder h2 {
  padding: 2rem;
}
.form-input-email {
  background-color: transparent;
  outline: none;
  padding-bottom: 1rem;
  padding-left: 1rem;
  width: 17rem;
  color: rgba(255, 255, 255, 0.445);
  border: none;
  border-bottom: 1px solid #b19250;
  font-size: 15px;
}
.radio-b label {
  padding-left: 1rem;
}
.radio-b input[type="radio"] {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

.radio-b input[type="radio"]:checked {
  background-color: #cab381;
}
.t-nominees {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.t-cards-nominees {
  width: 370px;
  height: 260px;
  position: relative;
  margin: 1rem;
  perspective: 1000px;
  background: rgb(20, 20, 20);
  box-shadow: -1px -6px 14px rgba(0, 0, 0, 0.7),
    -6px -6px 10px rgba(0, 0, 0, 0.5), 6px 6px 8px rgba(24, 24, 24, 0.281),
    6px 6px 10px rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}
.front-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: right;
  transition: transform 1s;
  background: rgb(20, 20, 20);
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
}
.front-side img {
  position: absolute;
}
.back-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(17, 17, 17);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='571' height='68.5' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='6' stroke-opacity='0.82'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  z-index: -1;
  transform: translateZ(-300px);
  transition: z-index 0.4s step-end, transform 1s;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
}
.nominees-name {
  font-size: 1.2rem;
  text-align: center;
}
.nominees-name-back {
  z-index: 20;
  position: absolute;
  text-align: center;
  bottom: 0;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  background: rgb(20, 20, 20);
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: -1px -6px 14px rgba(0, 0, 0, 0.7),
    -6px -6px 10px rgba(0, 0, 0, 0.5), 6px 6px 8px rgba(24, 24, 24, 0.281),
    6px 6px 10px rgba(0, 0, 0, 0.15);
}
.t-cards-nominees:hover .front-side {
  transform: rotateX(180deg);
}
.t-cards-nominees:hover .back-side {
  transform: translateZ(0px);
  z-index: 1;
}
.back-side img {
  position: absolute;
  bottom: 0;
}
.back-button {
  background: transparent;
  position: absolute;
  right: 15px;
  top: 15px;
  z-index: 999;
  color: #b19250;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10%;
  box-shadow: -1px -6px 14px rgba(0, 0, 0, 0.7),
    -6px -6px 10px rgba(0, 0, 0, 0.5), 6px 6px 8px rgba(24, 24, 24, 0.281),
    6px 6px 10px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease-in-out;
}
.back-button:hover {
  transform: scale(1.1);
  background: rgba(206, 62, 26, 0.596);
}
@media screen and (max-width: 804px) {
  .type-img {
    display: none;
  }
  .t-cards,
  .t-cards-nominees {
    width: 320px;
    height: 240px;
  }
  .type {
    height: auto;
  }
  .categories {
    flex-direction: column;
    font-size: 2rem;
  }
  .back-button {
    position: absolute;
    right: 0;
    top: 1rem;
  }
  .t-wrapper p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    font-size: 0.8rem;
    width: 300px;
  }
  .back-side img {
    height: 230px;
  }
}
.cats-names{
  width: 40%;
}